/* CameraCaptureWithTimestamp.module.css */

.rectangle309 {
  position: absolute;
  width: 1366px;
  height: 814px;
  left: 39px;
  top: 172px;
  background: #FFFFFF;
  border-radius: 15px;
}

/* Define other styles using module syntax */
/* Rectangle 309 */


